<footer class="footer py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mb-4 mx-auto text-center">
          <a href="/" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            Home
          </a>
          <a href="/about" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            About
          </a>
          <a href="/contact" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            Contact
          </a>
          <a href="/terms-and-conditions" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            Terms and Conditions
          </a>
          <a href="/privacy-policy" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            Privacy Policy
          </a>
        </div>
        <div class="col-lg-8 mx-auto text-center mb-4 mt-2">
          <% it.social.forEach(function(item){ %>
            <a href="<%=item.link%>" target="_blank" class="text-secondary me-xl-4 me-4">
              <span class="text-lg fab fa-<%=item.name%>"></span>
            </a>
          <% }) %>
        </div>
      </div>
      <div class="row">
        <div class="col-8 mx-auto text-center mt-1">
          <p class="mb-0 text-secondary">
            Copyright © <%=it.year%>, <%=it.siteName%> by <a href="<%=it.authorWebsite%>" target="_blank"><%=it.authorName%></a>.
          </p>
        </div>
      </div>
    </div>
  </footer>