<!-- Nucleo Icons -->
<link href="/assets/default/css/nucleo-icons.css" rel="stylesheet" />
<link href="/assets/default/css/nucleo-svg.css" rel="stylesheet" />
<!-- CSS Files -->
<link id="pagestyle" href="/assets/default/css/argon-dashboard.css?v=2.0.2" rel="stylesheet" />
<% if (it.webmaster.google) { %>
<meta name="google-site-verification" content="<%=it.webmaster.google%>" />
<%  } %>
<% if (it.webmaster.bing) { %>
<meta name="msvalidate.01" content="<%=it.webmaster.bing%>" />
<%  } %>
<% if (it.webmaster.yandex) { %>
<meta name="yandex-verification" content="<%=it.webmaster.yandex%>" />
<%  } %>
<meta name="google-signin-client_id" content="<%=it.oauth.google.client_id%>">
