<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/default/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/assets/default/img/favicon.png">
  <title><%=it.title%> - <%=it.siteName%></title>
  <% if(it.meta_desc) { %>
  <meta name="description" content="<%=it.meta_desc%>">
  <% } %>
  <%~ includeFile('_header.html', it) %> 
</head>

<body class="">
  <div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">
        <%~ includeFile('_navbar.html', it) %>
      </div>
    </div>
  </div>
  <%~ it.body %>
</body>

</html>