<% layout('_layout.html') %>
<main class="main-content  mt-0">
    <section>
      <% if(it.valid) { %>
        <div class="page-header min-vh-100">
      <% } else { %>
        <div class="page-header min-vh-50">
      <% } %>
        <div class="container">
          <div class="row justify-content-around">
            <div class="col-lg-6">
              <div class="card card-plain">
                <% if(it.valid) { %>
                <div class="card-header pb-0 text-start">
                  <h4 class="font-weight-bolder">Reset Password</h4>
                  <p class="mb-0">Create a new password.</p>
                </div>
                <div class="card-body">
                  <div id="message"></div>
                  <form role="form">
                    <div class="mb-3">
                      <input id="password1" type="password" class="form-control form-control-lg" placeholder="New Password" aria-label="New Password">
                      <small class="invalid-feedback" id="password1-error"></small>
                    </div>
                    <div class="mb-3">
                      <input id="password2" type="password" class="form-control form-control-lg" placeholder="Confirm Password" aria-label="Confirm Password">
                      <small class="invalid-feedback" id="password2-error"></small>
                    </div>
                    <div class="text-center">
                      <button id="btnSubmit" onclick="submitReset(this)" type="button" class="btn btn-lg btn-primary btn-lg w-100 mt-4 mb-0">Submit New Password</button>
                    </div>
                  </form>
                </div>
                <% } else { %>
                  <div class="alert alert-danger alert-dismissible fade show text-white" role="alert"><%=it.message%></div>
                <% } %>
                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                  <p class="mb-4 text-sm mx-auto">
                    Already reset password?
                    <a href="/" class="text-primary text-gradient font-weight-bold">Back to home</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%~ includeFile('_global_js.html', it) %>
  <script>
    var form = new FormValidation();
    form.rules({
      password1: {
        required: true,
        message: 'Password must be min 6-20 chars!',
        minLength:6,
        maxLength:20,
        errorPlace:'password1-error',
        errorAddClass: {
          password1:'is-invalid'
        }
      },
      password2: {
        required: true,
        message: 'Password must be min 6-20 chars!',
        minLength:6,
        maxLength:20,
        errorPlace:'password2-error',
        errorAddClass: {
          password2:'is-invalid'
        }
      }
    });

    function submitReset(e) {
      if(form.validate().isValid()) {
        e.disabled = true;
        _ajax({
          method: 'post',
          url: '<% it.baseUrl %>/api/user/reset-password',
          headers: {'content-type': 'application/json'},
          data: {
            id: '<%=it.reset_pass_id%>',
            password: Dom.id('password2').value
          }
        }, function(err, data) {
          e.disabled = false;
          if(err) return sendAlert('message', 'danger', err);
          if(data && data.success) {
            sendAlert('message', 'success', data.message);
            cleanup();
          } else {
            sendAlert('message', 'danger', data.message);
          }
        });
      }
    }

    function cleanup() {
      Dom.id('password1').value = '';
      Dom.id('password2').value = '';
    }

    function checkMatch() {
      if(Dom.id('password1').value !== Dom.id('password2').value) {
        setInvalid('password1', true, 'Password is not match!');
        setInvalid('password2', true, 'Password is not match!');
      } else {
        setInvalid('password1', false);
        setInvalid('password2', false);
      }
    }

    // on load
    document.addEventListener('DOMContentLoaded', function () {
      loadListener();
    }, false);

    function loadListener() {
      if(Dom.id('password1')) {
        Dom.addListener(Dom.id('password1'), Dom.Event.ON_BLUR, function(e) {
          form.element(this.id).validate(function(err) {
            if (!err) {
              checkMatch();
            }
          });
        });
      }
      if(Dom.id('password2')) {
        Dom.addListener(Dom.id('password2'), Dom.Event.ON_BLUR, function(e) {
          form.element(this.id).validate(function(err) {
            if (!err) {
              checkMatch();
            }
          });
        }); 
      }
    }
  </script>
