<% layout('_layout.html') %>
<main class="main-content position-relative border-radius-lg ">
    <%~ includeFile('_navbar.html', it) %>
    
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Card One</h6>
            </div>
            <div class="card-body px-4 pt-0 pb-2">
              <div class="col-lg-12">
                <p>...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Card Two</h6>
            </div>
            <div class="card-body px-4 pt-0 pb-2">
              <div class="col-lg-12">
                <p>...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Card Three</h6>
            </div>
            <div class="card-body px-4 pt-0 pb-2">
              <div class="col-lg-12">
                <p>...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%~ includeFile('_footer.html', it) %>    
    </div>
  </main>
  <%~ includeFile('_global_modal.html', it) %>
  <%~ includeFile('_global_js.html', it) %>
  <script>
    // on load
    document.addEventListener('DOMContentLoaded', function () {
      loadListener();
    }, false);

    function loadListener() {
      //
    }
  </script>