<% layout('_layout.html') %>
<main class="main-content position-relative border-radius-lg ">
    <%~ includeFile('_navbar.html', it) %>
    
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6><%=it.title%></h6>
              <div id="message"></div>
              <div class="row justify-content-between">
                <div class="col-md-6">
                  <button onclick="openModal('modalAdd')" class="btn btn-icon btn-3 btn-primary" type="button">
                    <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
                    <span class="btn-inner--text">Add</span>
                  </button>
                  <button onclick="exportData()" class="btn btn-icon btn-3 btn-primary" type="button">
                    <span class="btn-inner--text">Export</span>
                    <span class="btn-inner--icon ms-1"><i class="ni ni-cloud-download-95"></i></span>
                  </button>
                </div>
              </div>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div id="datatable"></div>
            </div>
          </div>
        </div>
      </div>
      <%~ includeFile('_footer.html', it) %>    
    </div>
  </main>

  <!-- Modal Add Start -->
  <div class="modal fade" id="modalAdd" tabindex="-1" aria-labelledby="modalAddLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalAddLabel">Add Data</h5>
          <button type="button" class="btn-close text-secondary" style="margin:-0.5rem -0.5rem 0.5rem auto;" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
        </div>
        <div class="modal-body">
          <div id="add-message"></div>
          <div class="form-group">
            <label for="question">Question</label>
            <input type="text" class="form-control" id="question" placeholder="">
            <small class="invalid-feedback" id="question-error"></small>
          </div>
          <div class="form-group">
            <label for="answer">Answer</label>
            <textarea id="answer" rows="5" class="form-control"></textarea>
            <small class="invalid-feedback" id="answer-error"></small>
          </div>
          <div class="form-group">
            <label for="position">Position</label>
            <input type="text" class="form-control" id="position" placeholder="">
            <small class="invalid-feedback" id="position-error"></small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button onclick="submitAdd(this)" type="button" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Add End -->

  <!-- Modal Edit Start -->
  <div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="modalEditLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalEditLabel">Edit Data</h5>
          <button type="button" class="btn-close text-secondary" style="margin:-0.5rem -0.5rem 0.5rem auto;" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
        </div>
        <div class="modal-body">
          <div id="edit-message"></div>
          <div class="form-group" hidden>
            <label for="id-edit">ID</label>
            <input type="text" class="form-control" id="id-edit" placeholder="">
            <small class="invalid-feedback" id="id-edit-error"></small>
          </div>
          <div class="form-group">
            <label for="question-edit">Question</label>
            <input type="text" class="form-control" id="question-edit" placeholder="">
            <small class="invalid-feedback" id="question-edit-error"></small>
          </div>
          <div class="form-group">
            <label for="answer-edit">Answer</label>
            <textarea id="answer-edit" rows="5" class="form-control"></textarea>
            <small class="invalid-feedback" id="answer-edit-error"></small>
          </div>
          <div class="form-group">
            <label for="position-edit">Position</label>
            <input type="text" class="form-control" id="position-edit" placeholder="">
            <small class="invalid-feedback" id="position-edit-error"></small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button onclick="submitEdit(this)" type="button" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Edit End -->
  <%~ includeFile('_global_modal.html', it) %>
  <%~ includeFile('_global_js.html', it) %>
  <script>
    let datatable = store({
      list: [],
      message: 'No records found.',
      loadmore: 1,
      totalRecord: 0
    });

    function datatableTemplate() {
      var dom = `<div class="table-responsive p-0">
        <table class="table align-items-center mb-0">
          <thead>
            <tr>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Question</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Position</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Created at</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Modified at</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
              <th class="text-secondary opacity-7"></th>
            </tr>
          </thead>
          <tbody>`;
      if (datatable.list.length > 0) {
        dom += `${datatable.list.map(function(item, index) {
          return `<tr>
            <td class="align-middle">
              <span class="text-sm font-weight-bold ms-3 mb-0">
                ${item.question}
              </span>
            </td>
            <td>
              <span class="text-sm font-weight-bold mb-0">
                ${item.position}
              </span>
            </td>
            <td class="align-middle text-center">
              <span class="text-secondary text-xs font-weight-bold">${moment(item.created_at).format('YYYY-MM-DD HH:mm')}</span>
            </td>
            <td class="align-middle text-center">
              <span class="text-secondary text-xs font-weight-bold">${moment(item.modified_at).format('YYYY-MM-DD HH:mm')}</span>
            </td>
            <td class="align-middle text-center text-sm">
              <div class="form-check form-switch justify-content-center">
                <input class="form-check-input" type="checkbox" onclick="setStatus('${item.id}')" id="status-${item.id}" ${(item.status ? 'checked' : '')}>
                <label class="form-check-label" for="status-${item.id}"></label>
              </div>
            </td>
            <td class="align-middle">
              <a href="javascript:;" title="Edit" onclick="openModal('modalEdit','${item.id}')" class="text-secondary font-weight-bold text-xs" style="cursor:pointer;">
                <i class="fa fa-edit fa-2x"></i>
              </a> | <a href="javascript:;" title="Delete" onclick="submitDelete('${item.id}')" class="text-secondary font-weight-bold text-xs" style="cursor:pointer;">
                <i class="fa fa-trash-alt fa-2x text-danger"></i>
              </a>
            </td>
          </tr>`;
        }).join('')}`;
      } else {
        dom += `<tr>
            <td colspan="100%">
              <div class="text-center">
                ${datatable.message}
              </div>  
            </td>
          </tr>`;
      }
      dom += `</tbody>
          </table>
          <hr>
        </div>`;
      return dom;
    }

    component('#datatable', datatableTemplate, {events: true});
    
    // modal add
    const modalAdd = new bootstrap.Modal(Dom.id('modalAdd'), {
      keyboard: false
    });
    // modal edit
    const modalEdit = new bootstrap.Modal(Dom.id('modalEdit'), {
      keyboard: false
    });

    function openModal(name, param) {
      switch (name) {
        case 'modalAdd':
          modalAdd.show();
          cleanup('add');
          break;
        case 'modalEdit':
          modalEdit.show();
          cleanup('edit');
          const list = getList(param);
          if (list.length > 0) {
            const item = list[0];
            Dom.id('id-edit').value = item.id;
            Dom.id('question-edit').value = item.question;
            Dom.id('answer-edit').value = item.answer;
            Dom.id('position-edit').value = item.position;
          }
          break;
      }
    }

    function getList(id) {
      const nosql = new FlyJson();
      return nosql.set(datatable.list).where('id', '==', id).exec();
    }

    function cleanup(section) {
      switch (section) {
        case 'add':
          Dom.id('add-message').innerHTML = '';
          Dom.id('question').value = '';
          Dom.id('answer').value = '';
          Dom.id('position').value = '';
          break;
        case 'edit':
          Dom.id('edit-message').innerHTML = '';
          Dom.id('id-edit').innerHTML = '';
          Dom.id('question-edit').value = '';
          Dom.id('answer-edit').value = '';
          Dom.id('position-edit').value = '';
          break;
      }
    }

    function submitAdd(e) {
      if(form1.validate().isValid()) {
        e.disabled = true;
        // code here
        _ajax({
          method: 'post',
          url: '<% it.baseUrl %>/api/master/faq/add',
          headers: {
            'content-type': 'application/json',
            'x-token': getToken()
          },
          data: {
            question: Dom.id('question').value,
            answer: Dom.id('answer').value,
            position: Dom.id('position').value
          }
        }, function(err, res) {
          e.disabled = false;
          if(err) return sendAlert('add-message', 'danger', err);
          if(res && res.success) {
            cleanup('add');
            sendAlert('add-message', 'success', res.message);
            reload();
          } else {
            sendAlert('add-message', 'danger', res.message);
          }
        });
      }
    }

    function submitEdit(e) {
      if(form2.validate().isValid()) {
        e.disabled = true;
        // code here
        _ajax({
          method: 'post',
          url: '<% it.baseUrl %>/api/master/faq/update',
          headers: {
            'content-type': 'application/json',
            'x-token': getToken()
          },
          data: {
            id: Dom.id('id-edit').value,
            question: Dom.id('question-edit').value,
            answer: Dom.id('answer-edit').value,
            position: Dom.id('position-edit').value
          }
        }, function(err, res) {
          e.disabled = false;
          if(err) return sendAlert('edit-message', 'danger', err);
          if(res && res.success) {
            sendAlert('edit-message', 'success', res.message);
            reload();
          } else {
            sendAlert('edit-message', 'danger', res.message);
          }
        });
      }
    }

    function submitDelete(id) {
      confirmation('Are you sure?', 'Once it deleted, you can\'t get it back!', function () {
        _ajax({
          method: 'post',
          url: '<% it.baseUrl %>/api/master/faq/delete',
          headers: {
            'content-type': 'application/json',
            'x-token': getToken()
          },
          data: {
            id: id
          }
        }, function(err, res) {
          if(err) return sendAlert('message', 'danger', err);
          if(res && res.success) {
            sendAlert('message', 'success', res.message);
            reload();
          } else {
            sendAlert('message', 'danger', res.message);
          }
        });
      });
    }

    function setStatus(id) {
      _ajax({
        method: 'post',
        url: '<% it.baseUrl %>/api/master/faq/set-status',
        headers: {
          'content-type': 'application/json',
          'x-token': getToken()
        },
        data: {
          id: id,
          status: (Dom.id('status-'+id).checked ? 1 : 0)
        }
      }, function(err, res) {
        if(err) {
          sendAlert('message', 'danger', err);
          Dom.id('status-'+id).checked = !Dom.id('status-'+id).checked;
          return;
        }
        
        if(res && res.success) {
          reload();
        } else {
          sendAlert('message', 'danger', res.message);
          Dom.id('status-'+id).checked = !Dom.id('status-'+id).checked;
        }
      });
    }

    // Export CSV
    function _restructure(objData) {
      var newdata = [];
      newdata.push({
        "No": "No",
        "Question": "Question",
        "Answer": "Answer",
        "Position": "Position",
        "Status": "Status",
        "Created at": "Created at",
        "Modified at": "Modified at"
      });
      for (var i=0; i<objData.length;i++) {
        newdata.push({
          "No": (i+1),
          "Question": objData[i].question,
          "Answer": objData[i].answer,
          "Position": objData[i].position,
          "Status": (objData[i].status ?'active':'inactive'),
          "Created at": moment(objData[i].created_at).format('DD-MM-YYYY HH:mm:ss'),
          "Modified at": moment(objData[i].modified_at).format('DD-MM-YYYY HH:mm:ss')
        });
      }
      return newdata;
    }

    function _convertToCSV(objArray) {
      var array = typeof objArray != 'object' ? JSON.parse(objArray) : objArray;
      var str = '';

      for (var i = 0; i < array.length; i++) {
        var line = '';
        for (var index in array[i]) {
          if (line != '') line += ',';
          line += JSON.stringify(array[i][index]);
        }
        str += line + '\r\n';
      }

      return str;
    }

    function exportData() {
        _export_csv(datatable.list, 'DataFAQ_'+moment(Date.now()).format('YYYY-MM-DD')+'.csv');  
    }
    
    function _export_csv(objData, filename) {
        var csv_string = _convertToCSV(_restructure(objData));
        var link = document.createElement('a');
        link.style.display = 'none';
        link.setAttribute('target', '_blank');
        link.setAttribute('href', 'data:text/csv;charset=utf-8,' + encodeURIComponent(csv_string));
        link.setAttribute('download', filename);
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }

    // validation
    var form1 = new FormValidation();
    form1.rules({
      question: {
        required: true,
        message: 'Question must be min 10 chars!',
        minLength: 10,
        errorPlace: 'question-error',
        errorAddClass: {
          question: 'is-invalid'
        }
      },
      answer: {
        required: true,
        message: 'Answer must be min 10 chars!',
        minLength: 10,
        errorPlace: 'answer-error',
        errorAddClass: {
          answer: 'is-invalid'
        }
      },
      position: {
        required: true,
        message: 'Position must be min 1 digit!',
        minLength: 1,
        regex: /^[0-9]+$/,
        errorPlace: 'position-error',
        errorAddClass: {
          position: 'is-invalid'
        }
      }
    });

    var form2 = new FormValidation();
    form2.rules({
      'question-edit': {
        required: true,
        message: 'Question must be min 10 chars!',
        minLength: 10,
        errorPlace: 'question-edit-error',
        errorAddClass: {
          'question-edit': 'is-invalid'
        }
      },
      'answer-edit': {
        required: true,
        message: 'Answer must be min 10 chars!',
        minLength: 10,
        errorPlace: 'answer-edit-error',
        errorAddClass: {
          'answer-edit': 'is-invalid'
        }
      },
      'position-edit': {
        required: true,
        message: 'Position must be min 1 digit!',
        minLength: 1,
        regex: /^[0-9]+$/,
        errorPlace: 'position-edit-error',
        errorAddClass: {
          'position-edit': 'is-invalid'
        }
      }
    });

    function reload() {
      datatable.list = [];
      _ajax({
        method: 'get',
        url: '<% it.baseUrl %>/api/master/faq/list',
        headers: {
          'content-type': 'application/json',
          'x-token': getToken()
        }
      }, function(err, res) {
        if(err) return console.log(err);
        if(res && res.success) {
          datatable.list = [...res.data];
        }
      });
    }

    // on load
    document.addEventListener('DOMContentLoaded', function () {
      loadListener();
    }, false);

    function loadListener() {
      // fill the table
      reload();

      // listen validation
      Dom.addListener(Dom.id('question'), Dom.Event.ON_BLUR, function(e) {
        form1.element(this.id).validate();
      });
      Dom.addListener(Dom.id('answer'), Dom.Event.ON_BLUR, function(e) {
          form1.element(this.id).validate();
      });
      Dom.addListener(Dom.id('position'), Dom.Event.ON_BLUR, function(e) {
          form1.element(this.id).validate();
      });
      Dom.addListener(Dom.id('question-edit'), Dom.Event.ON_BLUR, function(e) {
        form2.element(this.id).validate();
      });
      Dom.addListener(Dom.id('answer-edit'), Dom.Event.ON_BLUR, function(e) {
          form2.element(this.id).validate();
      });
      Dom.addListener(Dom.id('position-edit'), Dom.Event.ON_BLUR, function(e) {
          form2.element(this.id).validate();
      });
    }
  </script>